//fonts
$regularFont: 400;
$headerFont : 700;

//fontsize
$LSize     : 2.2em;
$buttonSize: 1.1em;
$MSize     : 2em;
$SSize     : 1em;

//background colors
$bgBeige : #FCF9F2;
$bgGreen : #E9F4F4;
$bgPurple: #F0EFF9;
$bgBlue  : #EDF5F9;

//font colors
$fntBeige : #EFD3A0;
$fntGreen : #ABDAC7;
$fntPurple: #A7A7E8;
$fntBlue  : #62C4DC;
$fntRed   : #EFA3BB;
$fntPink  : #F7B5C2;
$fntGrey  : #959BAE;

//other colors
$btnGreen : #C3E5E4;
$btnPurple: #DDDCF4;
$lightBlue: #9BCFED;
$white    : #FFFFFF;