// theme
@import 'variables';
body{ 
    font-weight: $regularFont;
    margin     : 0;
    color      : $fntGrey
}
header{
    background-color: $bgBeige;
    text-align      : center;
    padding         : 3em 0 0 0;
    height          : 60vh;
}
.logo{
    max-height: 40vh;
    max-width : 50vh ;
    padding   : 0 0 0 50px;
}
.container{
    margin: 0 1em;
}
.about{
    display        : grid;
    justify-content: end;
}

.contact{
    display        : grid;
    justify-content: center;
}


// components
@import 'components/fontstyles';
@import 'components/skillbars';
// partials
@import 'partials/navigation';
@import 'partials/contact';

@media (min-width: 380px ) {
    .container{
        margin: 0 3em;
    }
}
@media (min-width: 980px ) {
    .container{
        margin: 0 10%;
    }
}
@media (min-width: 1200px ) {
    .container{
        margin: 0 20%;
    }
}