.button{
    display: inline-block;
    font-weight: $headerFont;
    font-size  : $butmo;
    text-align : center;
    padding    : 0.5em 1em;
    color      : $white;
    text-decoration: none;
    border-radius: $rad;
    margin: 1em 0;
}
.btnGreen:link{
    background-color: $fntGreen;
}
.btnGreen:hover{
    background-color: $white;
    border: 1px solid $white;
    color: $fntGreen;
}
.btnPurple{
    background-color: $fntPurple;
    border: none;
    padding    : 0.5em 2em;
}
.btnPurple:hover{
    background-color: $white;
    border: 1px solid $fntPurple;
    color: $fntPurple;
}
