h1{
    font-size  : Lmo;
    font-weight: $headerFont;
    font-style : italic;
    text-align : center;
    padding    : 1em 0;
    margin     : 0;
    color      : $fntGreen;
}
.fntRed{
    color: $fntRed;
}
.fntLeft{
    text-align: left;
}
.fntRight{
    text-align: right;
}
.fntGreen{
    color: $fntGreen;
}
.fntBeige{
    color: $fntBeige;
}
.fntPurple{
    color: $fntPurple;
}
.fntBlue{
    color: $fntBlue;
}
.fntPink{
    color: $fntPink;
}
@media (min-width: 980px ) {
    p{
        width: 400px;
    }
    h1{
        font-size: $LSize;
    }
}

