.contact{
    border       : 1px solid $btnPurple;
    text-align   : center;
    margin-bottom: 1em;
}
.form-vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-control{
    width: 90%;
    max-width: 400px;
    border: 1px solid $btnPurple;
    padding: 12px ;
}
.form-control:focus {
    padding: 12px;
    border: 2px solid $btnGreen;
    border-radius: $rad;
}
::placeholder{
    color: $btnPurple;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $btnPurple;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: $btnPurple;
}
textarea{
    height: 100px;
}
label{
    margin: 1em 0 0.5em 0;
}
.contact-socials{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 40px);
    justify-content: center
}
@media (min-width: 980px ) {
    textarea{
        height: 200px;
    }
}
